
.app {
    text-align: center;
    height: 100vh;
    padding-top: 10%;
    padding-left: 30%;
    padding-right: 30%;
}

.todo-input {
    height: 40px;
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    margin-bottom: 40px;
}

.todo-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.todo-item-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.box {
    margin-right: 20px;
}

.todo-item-label {
    font-size: 18px;
    font-family: "Comic Sans MS", Arial;
    text-align: left;
    flex-grow: 1;
}

.remove-items {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.todo-edit {
    height: 30px;
    flex-grow: 1;
    font-size: 18px;
    font-family: "Comic Sans MS", Arial;
    padding: 0 15px;
}